

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>COUCOU</h1>
<ul>
  <li *ngFor="let test of tests">{{test.name}}</li>
</ul>

<button (click)="signIn()">SignIn</button>
<button (click)="signUp()">SignUp</button>
<button (click)="getSession()">Session</button>
<button (click)="signOut()">SignOut</button>
<button (click)="insert()">Insert</button>

<router-outlet></router-outlet>
